body{
    color: rgb(20, 6, 42);
    background-image: url(doces-de-casamento-1.jpg);
}
header{
   background-color: rgb(46, 14, 153);
    text-align:center;
align-items: center;
    display: flex;
    font-size: 50px;
    justify-content: center;
}
section{
    color: azure;
}
.lu{
    background-image: url();
}