body{
    color: rgb(20, 6, 42);
    background-image: url(doces-de-casamento-1.jpg);
}
header{
   background-color: beige;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 150;
}
section{
    color: azure;
}
.lu{
    background-image: url();
}